<section class="hero">

 <img [src]="imagenes[indiceActual]" class="hero-img">
  <!-- Botones -->
<button class="flecha izquierda" (click)="anterior()">‹</button>
  <button class="flecha derecha" (click)="siguiente()">›</button>

</section>

<section class="hero-texto-box">
  <p>
    En  IGN Spa nos preocupamos por tu bienestar, tu salud y tu belleza, 
    es por eso que brindamos nuetros servicios de manera profesional para que puedas relajarte y volver a sentirte tú.
    Descubre todos los servicios que tenemos disponibles para ti
  </p>
</section>